$background_color_hover: #F47821;
$background_color_block: #F7F5FA;
$color_hover: white;
$main_color: #F47821;
$font_family_din_pro: 'DIN Pro', Arial, sans-serif;
$font_family_din_pro_cond: 'DIN Pro Cond', Arial, sans-serif;
$font_family_roboto: 'Roboto-Regular', Arial, sans-serif;
$font_family_gilroy: 'Conv_Radomir Tinkov - Gilroy-ExtraBold', Arial, sans-serif;
$font_size_title: 32px;
$font_size_main: 16px;
$breakpoint_query: (xs: 0, xss: 321px, xsm:375px, xsi: 421px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xls: 1366px, xlm: 1441px, xlg: 1601px);
$grid-breakpoints: $breakpoint_query;
